<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6771f/control/0/plot" value="false" />
    <add key="/lpc/nct6771f/control/1/plot" value="false" />
    <add key="/lpc/nct6771f/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/control/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/4/load/0/plot" value="false" />
    <add key="/hdd/5/load/0/plot" value="false" />
    <add key="/hdd/6/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="179" />
    <add key="mainForm.Width" value="593" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6771f/voltage/0/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/1/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/2/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/3/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/4/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/5/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/6/plot" value="false" />
    <add key="/lpc/nct6771f/voltage/7/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/0/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/1/plot" value="false" />
    <add key="/lpc/nct6771f/temperature/3/plot" value="false" />
    <add key="/lpc/nct6771f/fan/1/plot" value="false" />
    <add key="/lpc/nct6771f/fan/2/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/data/0/values" value="" />
    <add key="/lpc/nct6798d/voltage/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/4/load/0/values" value="" />
    <add key="/hdd/5/load/0/values" value="" />
    <add key="/hdd/6/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAPP61pN/i+u6B2NDkRPX/GQmBiBgZCh0indJgrAbCpxM9ifAxefKIMSlb0LVNxQ6ffNJhKt5aoFQs9gYYWaR1BEWGPvRl0S4GgCliBcGhAAAAA==" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEALuo15d/i+u6B8OBk84fNJOZGMBA1lnP/Jo4jA0A2PztgiQAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEALuo15d/i+u6B8MBNRe5REspBhAAsgG057iwGAAAAA==" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwNDg71coqUUAxg02AMAQlYJcRgAAAA=" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEALuo15d/i+u6BwMDg/0HzWQmBgiwN5NNgrEZcqIT4eLBkXA2g4Z6CpR9wF7UFybuYN95GqZ3gf35ILg59rwOCDOLGBFs1YkINQC4BwHXkAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="H4sIAAAAAAAEAFv7oDf/Ftd1DwYGJ6fPmslMDGDg4DS7e70AjP32YyJU3N5pgn8SXA2bM4INAHc1A4hIAAAA" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGvM786/xXXdg+kTp1Pg/GQmBhD4sdwxNDsJws5Y5ngoKwHC/rDAkdELKq6xwDHuJlT9hs2OG30SIewdCx15XkPZHSsdTzbCzDzgyO6aCNebcxVqTsVZx4azUPEHqx0BtR2HMZAAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAHP91ZV/i+u6h9NXbadekRQmBhA40O8Ymp0EYTcscjyUlQBldzoyekHFHeY4xt1MhrK3Om70SYTqjXLkeQ1lJ7Q5nmyEqnkwyZHdNRHOzrmaBDez4SxUfEGPIwATMA8JkAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAGvM786/xXXd49Xah46B85OZGEDgQJRjaHYShL1gqeOhrAQI22GrI6MXVLwh1zHuJlR9Q6fjRp9ECDuhzZHnNZTNsN7xZCNUjcJpR3ZXhJqcq0lw8YazUHGFBkcA/IYjDJAAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAGvM786/xXXdwyTrh2Pg/GQmBhBYsM8xNDsJwmZY73goKwHCPnDQkdELKt6w2zHuJlS9whPHjT6JUPYmR57XUPaCpY4nG6FqGt46srsi1ORchZqjcNqx4Wwi3BwAKFNOsJAAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAGvM786/xXXdY9cxPqfA+clMDCCg8MQxNDsJwm5Y5HgoKwHCdmh2ZPSCiitscoy7CVX/YLXjRp9ECJvhoSPPayhb4bTjyUaomoQdjuyuUHGHrY45V6HmCHA7NZyFii/Y5wgAIrHIKZAAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAGvM786/xXXdg6GhxylwfjITAxiUO4VmJ0HZdU6HshLgbEYvmHizU9xNmPoqp40+iVB2kdPVnKMsMDa7K0y8zMn5D0xvidPKZTDxHCcAPfq6vYQAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGvM786/xXXdg4Gh2SlwfjITAxiUOYVmJ0HZtU4ykxKg7FKnk55JcDU2m2Dqq502+iRC2VlOPK9h7Dyn0hXJcHa0HEKN8x+YOQVOK5fBxDOdAE5tMjeQAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAGvM786/xXXdg4GhzSn5WDITAxhUODm7JEHYDY1OMpMSoOL1Tic9oeIM1U42m2DqG5w2+iRC2flOlwRhagqd1jfC1JQ7LdOCqSly+vEepqbSaeUymHiBEwBHCIYfkAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAGvM786/xXXdg4Ghzin5WDITAxjkOzm7JEHZOU4u0xPg7IVw8QInm00w9XlOG30Soex0p0uCMDUZTusbYWoyna7pwtSkOZ14A1OT5bRyGUw83gkAEYhKdJAAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGvM786/xXXdg6Ghxyn5WDITAxjUOjm7JEHYDU1OLtMToOJNTgth4gzNTjabkuHiG30Soexip0uCMDWlTusbYWoqnK7pJsLZJ97A1FQ7rVwGEy9wAgAgvBhTkAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADNf0ZN/i+u6x2qGE07mx5KZGIAgCsi2cEkCs2OA7NwZCWB2JJCd4IwQ592EUP/FJxHMjgay1YUQanY2ItSs0kuEs6+8RqipXobQCwAIvnzwkAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEADu/tzv/Ftd1jzUfLF15jyUzMQCB0wF+1wyXJDA7zsHPNWNGApgd5GDq2uIMEY9YYOcqvQmiPiTBwlXQNxHMjmY44fJEEKLGyYDPdXMjRI3zAyHXdXoQNdYbGF1fvk6Cix9ZhtALAL7giQSQAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADPi6cm/xXXdY62ArevRo8lMDEDgdIDftdIlCcxONoh0TZ6RAGYHOZi6VjtDxMOA6mU2QdSHfLB0lfdNBLOjGU643BCEqLF1YHZd2whR41wg4rpID6LGegOj66PXEDUBDPquS5Yh9AIAP+vOeJAAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJON6sm/xXXdY80HS9dfR5OZGIDA6QC/a7FLEpidtCDctXJGApgd5GDqGuIMEQ8TsHW13ARRH9Zg7XrPJxHMjmY44SIpBFFj68DsuqwRamaAoOtuPYgaKwUG15OvIWoCGPRdS5ch9AIASs+dWZAAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADNf0ZN/i+u6x6oPlq7mx5KZGIDA6QC/q4VLEpidJBDmmjsjAcwOcjB1TXCGiIcmWLjyboKoDwGyv/gkgtnRDCdc1IUgamwdmF13NkLUBDDou67Sg6ix3sDoeuU1RI3zAyHX6mUIvQB1BXLmkAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADNf0ZN/i+u6B//zJY7mx5KZGIBA/kyKo4VLEpj9aWG2Y+6MBDA7eUG+Y4IzRPyLQZEj7yaI+pt3yhy/+CSC2bf+RzuqC0HUPP2U7bizEaJm5Z4ax1V6EDU2BUWOV15D1DhebnWsXgYRtxDJcgQAaJjk35AAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADNf0ZN/i+u6h6F9paP5sWQmBiD4kSnmaOGSBGY7G8k65s5IALNPT1F0THCGiGuyqTjyboKo79XXdPzikwhm933mc1QXgqix3yPruLMRouZIu57jKj2ImlVzVRyvvIaoSfewdaxeBhGfrSbjCAAuAfuekAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADNf0ZN/i+u6h8velzbmx5KZGIDAgeOutYVLEph9awqLde6MBDAbBBKcIeIxu9mseTdB1D9cyGH9xScRzL5sz2itLpQEV7+zEaLm6VsO61V6EDXH3rJYX3kNUVPdw2RdvSwRrh4AjTe9FZAAAAA=" />
    <add key="/lpc/nct6771f/voltage/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x96SyfYmTklMDEAwRaLF/m4whP1nZaH9+pIUMPvsmR771bMTwOwPy9vsmQUhahxM4+y75kHYJsbF9vN1ksFsRoYG+5VfEsFsI44ee77lEDX5Qs32xtaJcLbeBIh4yONUewAc21TJkAAAAA==" />
    <add key="/lpc/nct6771f/voltage/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6xz0VN3sTpyQmBiD4sNzN/m4wgr2+JAXMBqlZPTsBLn71QicnjM23PAmuxtg6Ec7Wm4AwBwDl+Si9bAAAAA==" />
    <add key="/lpc/nct6771f/voltage/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKAfBaUdYGIAAxF5fksIEYqvcjnRYPTuBCSauc0edHcZe+SURroZveRJcTeLpw3BzAL36J71gAAAA" />
    <add key="/lpc/nct6771f/voltage/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x1qZKIf1Ly2lGIAAxAYAyLKlhRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/4/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7MLi+wPcGmyMwABiL16dgITiJ0vtNieWTAJzu6aB2GD1MzXSYaLr/ySCGfzLUeoMbaGiBcAxfUmIMQBOvwxQHgAAAA=" />
    <add key="/lpc/nct6771f/voltage/5/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x7LZLvbrX1pKMQABiA0A/3/VHRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/6/values" value="H4sIAAAAAAAEAPOaoVxwi+u6h495p/36l5ZSDEAAYgMAcgapbRgAAAA=" />
    <add key="/lpc/nct6771f/voltage/7/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x5e/IQ7rX1pKMQABiA0Ac5j4bhgAAAA=" />
    <add key="/lpc/nct6771f/voltage/8/values" value="" />
    <add key="/lpc/nct6771f/temperature/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDh5OJUxITAwgcaHS6GwxlOzQ4rS9JgbAbGp1Wz06AsBkanZgFoWoYWpy65kHZDZVO83WSoeIVTiu/JELZdU58y2Fq6p2MrWHiVU56E2DiZU4AE6XMM5AAAAA=" />
    <add key="/lpc/nct6771f/temperature/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDhZOJUxITAxiUO90NhrFLndaXpMDZq2cnQNklTsyCSXB21zwYu9hpvk4ylF3otPJLIoTdkOfEtxymJtfJ2BoqzpDjpDchCc4GALrTeuOQAAAA" />
    <add key="/lpc/nct6771f/temperature/2/values" value="" />
    <add key="/lpc/nct6771f/temperature/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwODhJOJUxITAxhIOt0NhrFlnOYFl4rC2AC/bSWFMAAAAA==" />
    <add key="/lpc/nct6771f/fan/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/fan/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwNDtYuJUxITAwgo1LncDUaw15ekQNgHml3WrTnEAmN3zUOoma+TDGEvaHBZ+SURLs63HKrGoMnF2Boq/qHZRW9CElw9AB983leEAAAA" />
    <add key="/lpc/nct6771f/fan/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6B8MCHhcTpyQmBhDYwO1yNxjKnsDrsr4kBcIu4HdZPTsBwj7A5cIsmARnd81DqJ+vkww3Z+WXRDibbzlUTQOfi7F1Ilyv3gSo+AVOFwBeWnoMkAAAAA==" />
    <add key="/lpc/nct6771f/fan/3/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwMQrH9pKcUABQCcv74SGAAAAA==" />
    <add key="/lpc/nct6771f/control/0/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="/lpc/nct6771f/control/1/values" value="H4sIAAAAAAAEAPOaoVxwi+u6BwPDAsf1Ly2lGMBggSMAZ61ukxgAAAA=" />
    <add key="/lpc/nct6771f/control/2/values" value="H4sIAAAAAAAEAPOaoVxwi+u6x6SJHx3Xv7SUYgACEBsAZFI27xgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6798d/control/0/plot" value="false" />
    <add key="/lpc/nct6798d/control/1/plot" value="false" />
    <add key="/lpc/nct6798d/control/2/plot" value="false" />
    <add key="/lpc/nct6798d/control/3/plot" value="false" />
    <add key="/lpc/nct6798d/control/4/plot" value="false" />
    <add key="/lpc/nct6798d/control/5/plot" value="false" />
    <add key="/lpc/nct6798d/control/6/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/13/plot" value="false" />
    <add key="/amdcpu/0/load/14/plot" value="false" />
    <add key="/amdcpu/0/load/15/plot" value="false" />
    <add key="/amdcpu/0/load/16/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/amdcpu/0/power/10/plot" value="false" />
    <add key="/amdcpu/0/power/11/plot" value="false" />
    <add key="/amdcpu/0/power/12/plot" value="false" />
    <add key="/amdcpu/0/power/13/plot" value="false" />
    <add key="/amdcpu/0/power/14/plot" value="false" />
    <add key="/amdcpu/0/power/15/plot" value="false" />
    <add key="/amdcpu/0/power/16/plot" value="false" />
    <add key="/amdcpu/0/power/17/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6798d/fan/0/plot" value="false" />
    <add key="/lpc/nct6798d/fan/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/temperature/5/plot" value="false" />
    <add key="/amdcpu/0/temperature/2/plot" value="false" />
    <add key="/amdcpu/0/temperature/3/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/clock/13/plot" value="false" />
    <add key="/amdcpu/0/clock/14/plot" value="false" />
    <add key="/amdcpu/0/clock/15/plot" value="false" />
    <add key="/amdcpu/0/clock/16/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEALvK9qP859YbHgwMv+xWPI5gYoCCPPckCLsizTH9cTZc3LhSTg3Gjis254KwDvwHAJZREJpIAAAA" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADuw42X5z603PBhklJw2nY9gYoCCrdNiIewDUY7Hc0rh4pdKNwjA2P8jkyDiDnPsDyDpLZjswgdj39mTAhFvsLaXaPPigoge+A8Ab5lxlHgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PCYw6TuJRSYxMQDBglmVjmnRELZ4ZLIjUxSELRsV5zgdyi7cG+dYB1VfsS/O8RKSuGwiQr18IEI8HMmcECT1rEji9luPsMDYaZEINcqRCDVOaQhxYT+E+HUk9af3pIDZTg9SHO94+XMxgMGB/wAPr3jN8AAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgYHBwFBP11GcDAwbH3hQ8XhH3gPwB39INcJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgYGlwFBP11GcCgwbX3hQ8XhH3gPwAtY1IzJAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBjuNTqLRSYxMYDAt0Zn/d/tGjD26T0pEHGjJufeFz5cYDbDgf8AWI907DwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPu+9Fr5z603PByO5LuKRSYxMQCBw8F8V/3f7Row9uk9KWDxAzvzXXtf+HAxgMGB/wDs1wb1PAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAPu+9Fr5z603PB68OuUgFpnExAAECQKnHfR/t2vA2Kf3pIDFFfJOO/S+8OFiAIMD/wElk2VsPAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgYGuzEIpOYGMCgwS4tGsZmsGeKgrMZjrseVoaxT+9JgavpfeHDBWEe+A8Am2V9g1QAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBiAQEDQX5cBCnpf+HBBWAf+AwB8J12nJAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBiAQCwyiYkBDBrs0qLhbHumKBibgeG462FlGPv0nhSo+AL73hc+XBD2gf8AZ25BFlQAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgYGOzFIpOYGCDAPi0axhZwYIqCizMcdz2sDGOf3pMCFU9w6H3hwwVhH/gPAMNe4VhUAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBas+uAiFpnExAAEtaLTXdKiIWzGA/ecmaIgbAaGdudJTBpqMHbvCx8uCPvAfwCKsr4fSAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPu+9Fr5z603PO6dsnYVi0xiYgACRgUdl7RoKJthkfOUmC4NGLv3hQ8XAxgc+A8Aee2y7zwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBasKnARi0xiYgCCWlFxl7RoCJvxQJwzUxSEzcDA7jyJSUMNxu594cMFYR/4DwDWrIIaSAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgWcLuIRSYxMYCAAY9LWjSU/YDbhSkKyp7A7TIdxhbgcamDqT/A7XIJJr6Bx0U2EcpewOMiHwhlF/C4hMPUMPC4hMDYCTwurEjmv06Fsi9wu4T4I9yQBrOrgcdFGcmdTmkI84X9EO65Hokw0wRm/gduFxVvfy6IGw78BwCJ6s57/AAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPu+9Fr5z603PBgYeJzEIpOYGMCAwyktGsZmd2KKgrHZnKbD2axOdXD1LE7PXicowtgq3v5cEPaB/wAuh8SSYAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAJO601H2c+sNDwaGA/87Mp8xMgCBe66uY8a8AiYQ+9M6XUdZ3hAw22uVrqNeTBKY3TFL1/FLOIQ9O1vXsSwSwhYv0HW8HwVhSwPZsVDxF526jlcjIOzO1bqOqVA1hrt0Hd2h7IX7dB1ZoGwXIHsq1K4zR3Qdl0P1bj2l6xgPNfPMaV3HXqh4zVldx9tQcaVLQPenQ9gXr+k6vvSBsB/e0HXUjIbqfaDraKa9lpMBDA78BwCVijs3CAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAJO601H2c+sNDwaGA/87Mp8xMgBBVNUih4x5BUwgNsv3hQ6yvCFgdgjDIge9mCQw+4b8Iocv4RD2ptpFDmWREPaukkUO96Og4kB2LFRcwnGRw9UICPva34UOqVA1bQ8WOrhD2cuuL3RggbITbix0mAq1K+D0QoflUL11+xc6xEPNDNi70KEXKv5h50KH21DxJRsWOmSkQ9huyxc6vPSBsNUWL3TQjIbqnbzQwUx7LScDGBz4DwCUinoHCAEAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJO601H2c+sNDwaGA/87Mp8xMgDBSuP/jhnzCphA7ITUf46yvCFg9v/if456MUlgdt3Sf45fwiHslxb/HcsiIezLWv8d70dB2EeB7Fio+I6b/xyvRkDYYgX/HFOharid/jm6Q9mSJv8cWaBsO9N/jlOhdu1S+Oe4HKpXi++fYzzUzL1c/xx7oeL5rP8cb0PFr3z765iRDmHLvfjr+NIHwl768K+jZjSEffjEX0cz7bWcDGBw4D8AUw7J2QgBAAA=" />
    <add key="/amdcpu/0/clock/16/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/17/values" value="H4sIAAAAAAAEAFvkml/xc+sNj0V+Sxwy5hUwMQDB27UrHGR5Q8DsNr0VDnoxSWD2Mq2VDl/CIexfGisdyiIh7LaGlQ73oyDsg0B2LFR8tu1Kh6sREPa0eysdUqFqVNJXOrhD2XMOrXRggbLji1c6TIXatd5jpcNyqN4NE1c6xEPNtG1f6dALFd/fuNLhNlS8aeFKh4x0CPvChJUOL30gbJnElQ6a0RB23o/lDmbaazkZwODAfwChNZ7e/AAAAA==" />
    <add key="/amdcpu/0/clock/15/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/16/values" value="H4sIAAAAAAAEAFvkml/xc+sND/7wZQ4Z8wqYGIBAwmyNgyxvCJjdWrTaQS8mCcxW27fG4Us4hB0qtNahLBLCVudY63A/CsKWElnrEAsVV3qzxuFqBIRtkLDWIRWqxoVzrYM7lH3Fc60DC5TtYLXWYSrULtf3axyWQ/Uqpq91iIeaaSax1qEXKr4JaNdtqPhW77UOGekQ9vpfaxxe+kDYHTfWOGhGQ9h8TasczLTXcjKAwYH/AIrVw9X8AAAA" />
    <add key="/amdcpu/0/clock/14/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/15/values" value="H4sIAAAAAAAEAFvkml/xc+sNj8iGJQ4Z8wqYGICgUmilgyxvCJht17vCQS8mCcxOb17p8CUcwp51c6VDWSSEve7fSof7URD2aqlVDrFQ8dAtKx2uRkDYNjarHFKhaqqfrnRwh7J75FY5sEDZ/u9WOkyF2rVj/UqH5VC9HsarHOJhdh1Z6dALFbe4t9LhNlR8EuMqh4x0CNvu0kqHlz5QMw+sdNCMhrD5bFc4mGmv5WQAgwP/AZ13RAD8AAAA" />
    <add key="/amdcpu/0/clock/13/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/14/values" value="H4sIAAAAAAAEAFvkml/xc+sND+8dyxwy5hUwMQDBMd81DrK8IWD2l6TVDnoxSWD2s1lrHL6EQ9g8jGsdyiIh7P22ax3uR0HYXj5rHWKh4jX31zhcjYCwqxavdUiFqWFb6+AOZascXOvAAmUL+K51mAq1aynTWoflUL2BvWsd4qFmMgitdeiFiltFrnW4DRVvaVnrkJEOYT/+scbhpQ+EPdF0rYNmNIStG7HawUx7LSfYHIYD/wFq2dyv/AAAAA==" />
    <add key="/amdcpu/0/clock/12/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/13/values" value="H4sIAAAAAAAEAFvkml/xc+sNj/8qqxwy5hUwMQBB59+1DrK8IWD20Y1rHfRiksDsj1/XOXwJh7Dj9Nc7lEVC2Cvi1jvcj4KwD5qvd4iFiis7rne4GgFhL1243iEVqiY5b72DO5S9Z+p6BxYoe/uE9Q5ToXZ1Jqx3WA7V+2fbeod4qJnlAesdeqHiWUA1t6Hif9vXO2SkQ9ifZNc7vPSBsLdqrnfQjIawD8eudTDTXsvJAAYH/gMAA9h2K/wAAAA=" />
    <add key="/amdcpu/0/clock/11/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxDbTXsvJAAYH/gMA9jFzcSQAAAA=" />
    <add key="/amdcpu/0/power/12/values" value="H4sIAAAAAAAEAFvkml/xc+sND+UDqx0y5hUwMQCB9931DrK8IWC21431DnoxSWD2iaaNDl/CIeyo2xsdyiIhbAehTQ73o6Bsjk0OsVBx+V8bHa5GQNhLDTY5pELVTLLa5OAOZX/23OTAAmXrK29ymAq1ax/XJoflUL25OZsc4qFmtttucuiFir9N3uRwGypuF7rJISMdwpa5sNHhpQ+EnbNzo4NmNITNtWu9w+ETqzgZwODAfwD/jPNP/AAAAA==" />
    <add key="/amdcpu/0/clock/10/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/11/values" value="H4sIAAAAAAAEAFvkml/xc+sNDw6fVQ4Z8wqYGIAguX6tgyxvCJj9X2Gtg15MEph9KWqdw5dwCFtu2zqHskgI22PrOof7URB25LN1DrFQ8d3r1zlcjYCw2RTWO6RC1WhdXufgDmXf5l3vwAJlr3+0zmEq1K7Iw+sclkP1ihisd4iHmrns7zqHXqh4F/96h9tQcS+g+RnpEHYK0G0vfSDsQ5vWOWhGQ9iTL6xxOHxiFScDGBz4DwB3nEVN/AAAAA==" />
    <add key="/amdcpu/0/clock/9/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/10/values" value="H4sIAAAAAAAEAFvkml/xc+sNjxOb1zhkzCtgYgCC9zs3OsjyhoDZryZvdNCLSQKzT23Y5PAlHMK+JLvZoSwSwrao2+xwPwrCntGx2SEWKh7nsdnhagSELXpks0MqVI1R9mYHdyi7+tBmBxYoe/qGzQ5ToXZNFdvssByq99yJzQ7xUDMf1Gx26IWKm63a7HAbKu68e7NDRjqE3aO42eGlD4Qdwr/ZQTMawv7Fs9Hh8IlVnAxgcOA/ANaBTo78AAAA" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAFvkml/xc+sNj0VLTjlkzCtgYgCCL28vO8jyhoDZU85ecdCLSQKzK5Zec/gSDmF/iLnmUBYJYU+wvO5wPwrCtrK+7hALFa+/ds3hagSEbeJ83SEVqmaK+XUHdyh7f/x1BxYo28LhusNUqF37Aq47LIfqZaq/7hAPNXOnynWHXqi4DNDe21Bx/pLrDhnpEHbW8WsOL30g7HXLrzloRkPYCQ5XHA6fWMXJAAYH/gMAjLkYKfwAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAFvkml/xc+sNj/2p+x0y5hUwMQCB3trjDrK8IWD2G4YTDnoxSWD2ocJTDl/CIWzdsFMOZZEQ9lqj0w73oyBskTenHGKh4lqNpxyuRkDYvIanHVKhaqYxnXZwh7IFvE47sEDZ8cynHaZC7VJ5dMphOVSvdMhph3iomXZHTjn0QsUXC592uA0V5+M+7ZCRDmG/WnHK4aUPhK3PcspBMxrCnjD7mMPhE6s4GcDgwH8AybzTgPwAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAFvkml/xc+sNj71WZxwy5hUwMQBB2pfLDrK8IWD2mrrLDnoxSWB2QMBVhy/hEPaEQ1cdyiIhbPMTVx3uR0HYQkeuOsRCxeNWXHW4GgFhbze45pAKVdPCfM3BHcr2l77mwAJlX3981WEq1K7t1686LIfqval+zSEeambj0asOvVDxV/euOtyGir+VveaQkQ5hT91z1eGlD4T9svGqg2Y0hO1055LD4ROrOBnA4MB/ADvpxnz8AAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNj5yOgw4Z8wqYGIDAl/uEgyxvCJhtvvy4g15MEpits+Okw5dwCPsr0ymHskgIe63nKYf7URD2hJBTDrFQ8bn/TjpcjYCw35SdckiFqpHzOOXgDmUfqDrlwAJl2yedcpgKteus4imH5VC9whNPOcRDzdz29qRDL8zMgFMOt6HiJSmnHDLSIezD7046vPSBsPmfnXTQjIawPUSPOxw+sYqTAQwO/AcA/vJstvwAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNj8cJVxwy5hUwMQDBm083HWR5Q8Dsep5bDnoxSWC2yb3bDl/CIeyjRnccyiIhbMXZdxzuR0HYZpvuOMRCxWPd7jhcjYCw3z6+45AKVTNl8R0Hdyj7+Pc7DixQ9rsLdxymQu0y2H7HYTlUr6jUXYd4qJne5+449ELFw5/fcbgNFRcRvOuQkQ5hfwu64/DSB8KW8bzjoBkNYfftvelw+MQqTgYwOPAfAB8ekVv8AAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNj5rpJxwy5hUwMQDB/UtnHWR5Q8DsNX1nHfRiksDspx3nHb6EQ9hZd887lEVC2HUfzzvcj4Kwl2hccIiFijdtOu9wNQLCXuZ8wSEVqibsz3kHdyj7fPQFBxYo+57tBYepULv+PjvvsByqV63pgkM81Mzzj8479ELF1YHqb0PFJ7lfcMhIh7D3Hzrv8NIHwvY7cN5BMxrC1o0863D4xCpOBjA48B8Apxrv6fwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNj7vhlx0y5hUwMQDBqyU3HGR5Q8Dsy3tuOOjFJIHZNjW3HL6EQ9iH+285lEVC2Jxytx3uR0HYk9hvO8RCxdsW3nK4GgFhfwy/7ZAKVaPDfdvBHco2q7jtwAJll9vcdpgKtasQqGY5VG/L/NsO8VAzD5neduiFit+NvO1wGyruUnfbISMdwq7ec8vhpQ+EPXvLLQfNaAg7rPiGw+ETqzgZwODAfwCBg+Tk/AAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAFvkml/xc+sND5cP7a7RS310GYAAxD58YhUnAxgc+A8ALXZW8SQAAAA=" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAFvkml/xc+sND7nlxx0y5hUwMQBBmclZB1neEDCb6+cZB72YJDC7/dE5hy/hEDbji3MOZZEQ9rL68w73oyDsa83nHWKh4s9PnHO4GgFhm00975AKVfPV6byDO5R9YN15BxYoe1nFeYepULtmpJ93WA7V++7ZeYd4qJniEucdeqHi/ZvOO9yGip/bcd4hIx3Ctv5wzuGlD4Qdw3/eQTMaqmb6GYfDJ1ZxMoDBgf8A6jVR6fwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAFvkml/xc+sNj2aNnU4Z8wqYGIBA/eQ+J1neEDA7auI+J72YJDBbQP2A05dwCDs4/oBTWSSELb/xgNP9KAibb+sBp1iouF7qAaerERB2xIcDTqlQNWWrDzi5Q9kZXw84sUDZd44fcJoKtevStANOy6F63TkOOsVDzZy78IBTL1R82vkDTreh4ldeH3DKSIewV+cfcHrpA2HHRR9w0oyGsN3k9zkdPrGKkwEMDvwHAKmtBzT8AAAA" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFvkml/xc+sNj3Xqqc4Z8wqYGICAWyDbWZY3BMzO4c121otJArM/yOY6fwmHsJUqc53LIiHsC+9yne9HQdjzgexYqPiq+bnOVyMgbEOpPOdUqJq/E3Od3aHsA19znVmg7Ourcp2nQu2KL8l1Xg7Vm/8t1zkeauaJilznXqj47D25zreh4m8Z85wz0iFs/4Jc55c+EPZOs1xnzWgI+6ZFlvPhE6s4GcDgwH8A+JgehfwAAAA=" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="H4sIAAAAAAAEAFvkml/xc+sND4YHG5wy5hUwMYDBFidZ3hAI+8EWJ72YJLj4l3Ao22GLU1kklL1gi9P9KAQ7NhKh5moEjL3VKRWm5sAWJ3cYG2g+C5y91Wkq3K6tTsthehm2OcXDzFTY5tQLE0/Y6nQb7oatThnpCDNf+iDcoxkNM2ez0+ETqzgh7AP/AepgUZr8AAAA" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFvkml/xc+sND4YDu50y5hUwMYDAgr1OsrwhUPY+J72YJAi7YZ/Tl3Ao22G/U1kklM2w3+l+FEzNAafYSISaqxEwNQecUmFqDux3coexF+x3YoGxE/Y7TYXZxXDIaXkEQk08zMyEA069MPGG/U63IxHsjHSEe176INysGQ2zd6/T4ROrOKHu+Q8Ay/n58vwAAAA=" />
    <add key="/amdcpu/0/temperature/3/values" value="H4sIAAAAAAAEAFvkml/xc+sND4aAbU4Z8wqYGEDgwg4nWd4QCPvATie9mCQI22Gn05fwJLh4WSSUfWGn0/0oKHvCLqfYSISaqxFQ9oJdTqkwNQ67nNyR2CxRCDVTYXY17HZaDtN7YZdTPMxMh91OvTDxgl1OtyMR9makQ9kfdjq99IGJ73TSjIayE3Y4HT6xipMB4rj/AK257zb8AAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="H4sIAAAAAAAEAFvkml/xc+sND4YDu50y5hUwMYDAgr1OsrwhUPY+J72YJAi7YZ/Tl3Ao22G/U1kklM2w3+l+FEzNAafYSISaqxEwNQecUmFqDux3coexF+x3YoGxE/Y7TYXZxXDIaXkEQk08zMyEA069MPGG/U63IxHsjHSEe176INysGQ2zd6/T4ROrOKHu+Q8Ay/n58vwAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaDvU4Z8wqYGEBgwl4nWd4QCDthn5NeTBKEbbDf6Us4lD1hv1NZJJT9YL/T/SgoW+CAUyxM3OCA09UIKNvhgFMqTE3AASd3GLvhgNPMbUdYYOzlMPULDjjFw8zZcMCpFyZ+4IDT7UgEOyMd5p4DTi99EGZqRiPcc/jEKk4GiIb/AGCHCxDwAAAA" />
    <add key="/amdcpu/0/load/16/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/15/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/14/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/13/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/12/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/11/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/10/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/9/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJMSyzJOCPvAfwACyuN5JAAAAA==" />
    <add key="/lpc/nct6798d/control/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJN1TS0nhH3gPwBn2kILJAAAAA==" />
    <add key="/lpc/nct6798d/control/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJN1TS0nhH3gPwBn2kILJAAAAA==" />
    <add key="/lpc/nct6798d/control/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJN1TS0nhH3gPwBn2kILJAAAAA==" />
    <add key="/lpc/nct6798d/control/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGAqfopT66DGBQ4GRdU8sJYR/4DwB1YdUyJAAAAA==" />
    <add key="/lpc/nct6798d/control/2/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGAqfopT66DGBQ4GRdU8sJYR/4DwB1YdUyJAAAAA==" />
    <add key="/lpc/nct6798d/control/1/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJN1TS0nhH3gPwBn2kILJAAAAA==" />
    <add key="/lpc/nct6798d/control/0/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGE07RS310GcDghJN1TS0nhH3gPwBn2kILJAAAAA==" />
    <add key="/lpc/nct6798d/fan/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYgiF7qo8sABXMkqzkhrAP/ATTQju8kAAAA" />
    <add key="/lpc/nct6798d/fan/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYgiF7qo8sABXMkqzkhrAP/ATTQju8kAAAA" />
    <add key="/lpc/nct6798d/fan/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYgiF7qo8sABXMkqzkhrAP/ATTQju8kAAAA" />
    <add key="/lpc/nct6798d/fan/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYgiF7qo8sABXMkqzkhrAP/ATTQju8kAAAA" />
    <add key="/lpc/nct6798d/fan/2/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYgiF7qo8sABXMkqzkhrAP/ATTQju8kAAAA" />
    <add key="/lpc/nct6798d/fan/1/values" value="H4sIAAAAAAAEAFvkml/xc+sND4aKgy4Z8wqYGEDgwQEXWd4QCNvjoIteTBKE3XHA5Us4lL3hgEtZJJTNcNDlfhSUPeGgSyxM/MMBl6sRUPaNAy6pUQi2O4x94oALSxTCnKkwu34ccFkO05txwCUeZqbBQZfeCIT5t2HiOw64ZKRD2QIHXV76QNkcB100o6HsAwdc5khWc0LsOvAfAKCIYHf8AAAA" />
    <add key="/lpc/nct6798d/fan/0/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaOLS4Z8wqYGECgY4uLLG8IhL1ii4teTBKEnbHV5Us4lD1hq0tZJJR9YYvL/Sgo+8VWl1iY+IetLlcjkuDmpMLULNji4g5jK2x1YYGxH2x1mQqzS2Kry3KY3h1bXOJhZnJsdemFid/Y6nI7EqE3Ix3KnrHF5aUPlH1iq4tmdBLcX3MkqznBbIYD/wHYboOE/AAAAA==" />
    <add key="/lpc/nct6798d/temperature/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGZU7RS310GcBgmdMcyWpOCPvAfwD7MA9NJAAAAA==" />
    <add key="/lpc/nct6798d/temperature/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGDY7RS310GcBgg+McyWpOCPvAfwB1G9TOJAAAAA==" />
    <add key="/lpc/nct6798d/temperature/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYGDqfopT66DGDA4TRHspoTwj7wHwD6emR/JAAAAA==" />
    <add key="/lpc/nct6798d/temperature/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwaGOU6TFUpFGcBgjpN7VBITmOkwx4kFiT01BspuAKrnUmeHsW9HQsUPzHHKSEewX/pA2QxznTSjEew5ktWcEPaB/wCcZXN8hAAAAA==" />
    <add key="/lpc/nct6798d/temperature/2/values" value="H4sIAAAAAAAEAFvkml/xc+sNDwYGDqfopT66DGDA4TRHspoTwj7wHwD6emR/JAAAAA==" />
    <add key="/lpc/nct6798d/temperature/1/values" value="H4sIAAAAAAAEAFvkml/xc+sND4aGPKeMeQVMDGCQ5yTLGwJn68UkQdgN+U5fwqFshgKnLa6HlWHsOZLVnBD2gf8AS/HNMFQAAAA=" />
    <add key="/lpc/nct6798d/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/voltage/14/values" value="H4sIAAAAAAAEAFvkml/xc+sNj3nvl9tFL/XRZQACEHuOZDUnAxgc+A8ASE4BCCQAAAA=" />
    <add key="/lpc/nct6798d/voltage/13/values" value="H4sIAAAAAAAEAFvkml/xc+sNjy9/r9hFL/XRZQACEHuOZDUnAxgc+A8AVMt7eiQAAAA=" />
    <add key="/lpc/nct6798d/voltage/12/values" value="H4sIAAAAAAAEAFvkml/xc+sNjykSLfbRS310GYAAxJ4jWc3JAAYH/gMAfcrrmSQAAAA=" />
    <add key="/lpc/nct6798d/voltage/11/values" value="H4sIAAAAAAAEAFvkml/xc+sNDx9zTvvopT66DEAAYs+RrOZkAIMD/wG08TJRJAAAAA==" />
    <add key="/lpc/nct6798d/voltage/10/values" value="H4sIAAAAAAAEAFvkml/xc+sNjw6xm3bRS310GYAAxJ4jWc3JAAYH/gMAvKqlRSQAAAA=" />
    <add key="/lpc/nct6798d/voltage/9/values" value="H4sIAAAAAAAEAFvkml/xc+sNj2sVmfbRS310GYAAxJ4jWc3JAAYH/gMAMg5rOyQAAAA=" />
    <add key="/lpc/nct6798d/voltage/8/values" value="H4sIAAAAAAAEAFvkml/xc+sND0mWMIeMeQVMDECw5USYgyxvCJhtxxXuoBeTBBf/Eg5hL3INcyiLhLBBeu9HIcRjoeLbgOqvRiDUpEYh2O5Qtk57mAMLEntqDELN8giEmfGRCDW9SOK3kdwQuOUIC4ytGY1QP0eympMBDA78BwDIT3Nk8AAAAA==" />
    <add key="/lpc/nct6798d/voltage/7/values" value="H4sIAAAAAAAEAFvkml/xc+sNj2SBCIfopT66DEAAYs+RrOZkAIMD/wGC8FyVJAAAAA==" />
    <add key="/lpc/nct6798d/voltage/6/values" value="H4sIAAAAAAAEAFvkml/xc+sNj3nvl9tlzCtgYgCCF79X2snyhoDZIPFrP9s1YOw5ktWcDGBw4D8Ao92NkTwAAAA=" />
    <add key="/lpc/nct6798d/voltage/5/values" value="H4sIAAAAAAAEAFvkml/xc+sNj0tK0fatq4+wMAABiK0Xk8QEYq+VibL/Eg5hg8S3uB5WhrHnSFZzMoDBgf8ArqrDDEgAAAA=" />
    <add key="/lpc/nct6798d/voltage/4/values" value="H4sIAAAAAAAEAFvkml/xc+sNj5NldfYZ8wqYGMCgwd47cxsLjP0lPAks/q6m3r4sMgmu5n4UQjwWSfxqBIR952edfSpUzSmg+e5I6h341dlh7Hgkvb0RCPbtSIQ5GekIvUIrjrDA2HMkqzkh6g/8BwAA9Z0tzAAAAA==" />
    <add key="/lpc/nct6798d/voltage/3/values" value="H4sIAAAAAAAEAFvkml/xc+sNjwvfgx2il/roMgABiD1HspqTAQwO/AcACb3mySQAAAA=" />
    <add key="/lpc/nct6798d/voltage/2/values" value="H4sIAAAAAAAEAFvkml/xc+sNj2SBCIfopT66DEAAYs+RrOZkAIMD/wGC8FyVJAAAAA==" />
    <add key="/lpc/nct6798d/voltage/1/values" value="H4sIAAAAAAAEAFvkml/xc+sNj3c19fYZ8wqYGMCgwd47cxsLjP0lPAksDlJTFolg349KgquPRRK/GoEQT0VS4x6FUMOCxJ4aA2GfKquzXx6BEI+PROjtRRK/jSSekY4Qf+mDENeMRrDnSFZzQtgH/gMA+KaZbPAAAAA=" />
    <add key="/lpc/nct6798d/voltage/0/values" value="H4sIAAAAAAAEAFvkml/xc+sND16m1fbRS310GYAAxJ4jWc3JAAYH/gMAbd69yCQAAAA=" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
  </appSettings>
</configuration>